@model IEnumerable<SGE.Models.TipoUsuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipos de Usuário</h1>

<p>
    <a asp-action="Create" class="btn btn-lg btn-outline-dark d-inline-flex align-items-center">
        <svg class="me-3" bootstrap-icon="PlusLg" width="20" height="20" aria-label="Adicionar"></svg>Adicionar

    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoUsuarioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TipoUsuarioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TipoUsuarioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
