@model IEnumerable<SGE.Models.Ocorrencia>

@{
    ViewData["Title"] = "Index";
}

<h1>OCORRÊNCIAS</h1>

<p>
    <a asp-action="Create" class="btn btn-lg btn-outline-dark d-inline-flex align-items-center">
        <svg class="me-3" bootstrap-icon="PlusLg" width="20" height="20" aria-label="Adicionar"></svg>Adicionar

    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoOcorrencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataOcorrencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finalizado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoOcorrencia.TipoOcorrenciaNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.UsuarioNome
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataOcorrencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finalizado)
                </td>
                <td>
                    <a class="text-decoration-none text-dark" asp-action="Edit" asp-route-id="@item.OcorrenciaId">
                        <svg class="me-2" bootstrap-icon="PencilFill" width="16" height="16" arial-label="Editar"></svg>
                    </a>
                    <a class="text-decoration-none text-dark" asp-action="Details" asp-route-id="@item.OcorrenciaId">
                        <svg class="me-2" bootstrap-icon="InfoLg" width="16" height="16" arial-label="Detalhes"></svg>
                    </a>
                    <a class="text-decoration-none text-dark" asp-action="Delete" asp-route-id="@item.OcorrenciaId">
                        <svg class="me-2" bootstrap-icon="Trash" width="16" height="16" arial-label="Excluir"></svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
