@model IEnumerable<SGE.Models.Sala>

@{
    ViewData["Title"] = "Index";
}

<h1>SALAS</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadAtivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadInativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SalaNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CadAtivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CadInativo)
                </td>
                <td>
                    <a class="text-decoration-none text-dark" asp-action="Edit" asp-route-id="@item.SalaId">
                        <svg class="me-2" bootstrap-icon="PencilFill" width="16" height="16" arial-label="Editar"></svg>
                    </a>
                    <a class="text-decoration-none text-dark" asp-action="Details" asp-route-id="@item.SalaId">
                        <svg class="me-2" bootstrap-icon="InfoLg" width="16" height="16" arial-label="Detalhes"></svg>
                    </a>
                    <a class="text-decoration-none text-dark" asp-action="Delete" asp-route-id="@item.SalaId">
                        <svg class="me-2" bootstrap-icon="Trash" width="16" height="16" arial-label="Excluir"></svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
