@model IEnumerable<SGE.Models.Turma>

@{
	ViewData["Title"] = "Index";
}

<h1>TURMAS</h1>

<p>
	<a asp-action="Create" class="btn btn-lg btn-outline-dark d-inline-flex align-items-center">
		<svg class="me-3" bootstrap-icon="PlusLg" width="20" height="20" aria-label="Adicionar"></svg>Adicionar

	</a>
</p>
<table class="table table-bordered table-light table-striped table-hover barraTopo text-light">
	<thead>
		<tr class="baraTopo">
			<th>
				@Html.DisplayNameFor(model => model.TurmaNome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Turno)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Serie)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CadAtivo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CadInativo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataInicio)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataFim)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TurmaEncerrada)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.TurmaNome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Turno)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Serie)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CadAtivo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CadInativo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DataInicio)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DataFim)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TurmaEncerrada)
				</td>
				<td>
					<a class="text-decoration-none text-dark" asp-action="Edit" asp-route-id="@item.TurmaId">
						<svg class="me-2" bootstrap-icon="PencilFill" width="16" height="16" arial-label="Editar"></svg>
					</a>
					<a class="text-decoration-none text-dark" asp-action="Details" asp-route-id="@item.TurmaId">
						<svg class="me-2" bootstrap-icon="InfoLg" width="16" height="16" arial-label="Detalhes"></svg>
					</a>
					<a class="text-decoration-none text-dark" asp-action="Delete" asp-route-id="@item.TurmaId">
						<svg class="me-2" bootstrap-icon="Trash" width="16" height="16" arial-label="Excluir"></svg>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
